<div class="flex flex-row items-center justify-center bg-gray-100">
    <div class="px-7 py-20  w-full lg:w-2/3 lg:max-w-2/3">
        <div class="my-6 poppins-300 text-2xl flex flex-row items-center justify-between">
            <span>Product details</span>
            <a routerLink="../../" mat-stroked-button class="font-blue poppins-600"><mat-icon class="mr-2">keyboard_backspace</mat-icon>Back</a>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4" *ngFor="let product of selectedProduct">
            <div class="border">
                <img [src]="product.productImg" [alt]="product.name + ' image'">
            </div>
            <div class="relative">
                <div class="text-xl poppins-600 mb-2">{{product.name}}</div>
                <div class="text-md text-gray-500 poppins-400 mb-2">{{'$'+thousandSeperator(product.price.toFixed(2))}}</div>
                <div class="border-t">
                    <div class="my-3"><span class="text-xs text-gray-600 bg-light-blue px-2 py-1 rounded-lg">Category: {{product.category}}</span></div>
                    <div class="grid grid-cols-1 lg:grid-cols-2 gap-5">
                        <mat-form-field appearance="outline" class="w-full lg:w-2/3">
                            <mat-label>Quantity</mat-label>
                            <input matInput type="number" name="quantity" [value]="quantity" #prodQuantity (input)="calculateTotal(prodQuantity.value)">
                        </mat-form-field>
                        <div class="text-right">
                            <span class="text-lg text-gray-500">Total</span> 
                            <div class="text-2xl poppins-500">${{thousandSeperator(totalPrice?.toFixed(2))}}</div>
                        </div>
                    </div>
                </div>
                <div>
                    <div *ngIf="product.description.detail">
                        <span class="poppins-500 text-gray-600">Description:</span>
                        <p class="pl-4">
                            {{product.description.detail}}
                        </p>
                    </div>
                    <div class="my-3" *ngIf="product.description.characs.length > 0">
                        <span class="poppins-500 text-gray-600">Characteristics</span>
                        <ul class="pl-4">
                            <li *ngFor="let charac of product.description.characs">{{charac}}</li>
                        </ul>
                    </div>
                    <div *ngIf="product.description.specs.length > 0">
                        <span class="poppins-500 text-gray-600">Specifications</span>
                        <ul class="pl-4">
                            <li *ngFor="let spec of product.description.specs">{{spec}}</li>
                        </ul>
                    </div>
                </div>
                <div class="mt-8 text-center w-full">
                    <button class="flex flex-row items-center justify-center text-white poppins-500 px-12 py-3 w-full rounded-md bg-theme-blue hover:bg-black transition">
                        <mat-icon class="mr-2">add_shopping_cart</mat-icon>Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>