<!-- header -->
<div class="w-full h-full relative overflow-hidden" id="header-content">
    <div id="carouselExampleControls" class="carousel slide w-full h-full hidden sm:inline-flex" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div *ngFor="let img of imagesUrl; let i = index;" class="carousel-item"
                [ngClass]="(i === 1) ? 'active' : ''">
                <img [src]="img" class="d-block w-100">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="absolute top-0 left-0 w-full h-full bg-blue-800/75">
        <div class="absolute w-full lg:w-1/2 top-1/3 lg:top-1/2 lg:translate-x-1/2 lg:-translate-y-1/2 text-center">
            <div class="text-white uppercase font-bold text-4xl lg:text-7xl mb-6 quicksand-700">
                C&nbsp;S Innovations
            </div>
            <span class="text-white text-lg lg:text-2xl capitalize poppins-400">have engineering your way</span>
            <div class="flex flex-row justify-center mt-48 lg:mt-20">
                <span class="scroll-icon">
                    <span class="scroll-icon__wheel-outer">
                        <span class="scroll-icon__wheel-inner"></span>
                    </span>
                </span>
            </div>
        </div>
        <div class="absolute bottom-0 w-full opacity-80 lg:opacity-50">
            <img src="./../../../../assets/images/skyline.png">
        </div>
    </div>
</div>

<!-- Insight -->
<div class="flex flex-row justify-center w-full bg-white text-center px-7 py-16 lg:py-28">
    <div class="w-full lg:w-2/3 lg:max-w-2/3">
        <div class="text-5xl mb-14 poppins-700 uppercase">Insight</div>
        <div class="flex flex-row justify-center">
            <p class="w-full text-md leading-7 lg:text-lg lg:leading-8 poppins-400">
                C S Innovations is an engineering consulting company focused on product development, custom
                machinery design
                and
                manufacturing. Providing satisfying, fluid, cost-effective collaborative design experiences for our
                global
                clientele is
                our primary focus. We provide professional expertise to see every project evolve from concept to
                prototyping
                to
                the
                final production.Our strength lies in the hands of our expert team members, each specialized in
                different
                sectors.
                Throughout the process we maintain a transparent relationship with our clients ensuring the final
                product is
                fully
                compliant and delivered on time. Our team works efficiently and effectively using the latest
                technologies to
                turn your
                idea into a reality.
            </p>
        </div>
    </div>
</div>

<!-- Works -->
<div class="flex flex-row justify-center w-full px-7 py-16 lg:py-28 bg-gray-100">
    <div class="w-full lg:w-3/4 lg:max-w-3/4">
        <div class="mb-14 text-center">
            <div class="text-5xl poppins-700 uppercase mb-14">Services</div>
        </div>

        <div class="flex flex-wrap justify-center mb-12">
            <div class="w-72 h-72 lg:w-60 lg:h-60 bg-theme-gray m-2 bg-cover bg-no-repeat bg-center"
                style="background-image: url(./../../../../assets/images/services/product-prototyping.jpeg)">
                <div
                    class="flex items-center justify-center w-72 h-72 lg:w-60 lg:h-60 bg-black/60 opacity-1 transition duration-300 p-3 text-xl text-white text-center poppins-500">
                    Custom Machinery Design & Manufacturing
                </div>
            </div>
            <div class="w-72 h-72 lg:w-60 lg:h-60 bg-theme-gray m-2 bg-cover bg-no-repeat bg-center"
                style="background-image: url(./../../../../assets/images/services/3d-drawing.jpeg)">
                <div
                    class="flex items-center justify-center w-72 h-72 lg:w-60 lg:h-60 bg-black/60 opacity-1 transition duration-300 p-3 text-xl text-white text-center poppins-500">
                    CAD/CAM Designing & Simulations
                </div>
            </div>
            <div class="w-72 h-72 lg:w-60 lg:h-60 bg-theme-gray m-2 bg-cover bg-no-repeat bg-center"
                style="background-image: url(./../../../../assets/images/services/machine-modification.jpeg)">
                <div
                    class="flex items-center justify-center w-72 h-72 lg:w-60 lg:h-60 bg-black/60 opacity-1 transition duration-300 p-3 text-xl text-white text-center poppins-500">
                    Machine Modification
                </div>
            </div>
            <div class="w-72 h-72 lg:w-60 lg:h-60 bg-theme-gray m-2 bg-cover bg-no-repeat bg-center"
                style="background-image: url(./../../../../assets/images/services/metal-milling.jpeg)">
                <div
                    class="flex items-center justify-center w-72 h-72 lg:w-60 lg:h-60 bg-black/60 opacity-1 transition duration-300 p-3 text-xl text-white text-center poppins-500">
                    Injection Mould Design & Fabrication
                </div>
            </div>
            <div class="w-72 h-72 lg:w-60 lg:h-60 bg-theme-gray m-2 bg-cover bg-no-repeat bg-center"
                style="background-image: url(./../../../../assets/images/services/plastic-injection.jpeg)">
                <div
                    class="flex items-center justify-center w-72 h-72 lg:w-60 lg:h-60 bg-black/60 opacity-1 transition duration-300 p-3 text-xl text-white text-center poppins-500">
                    Reverse Engineering
                </div>
            </div>
            <div class="w-72 h-72 lg:w-60 lg:h-60 bg-theme-gray m-2 bg-cover bg-no-repeat bg-center"
                style="background-image: url(./../../../../assets/images/services/3d-printing.jpeg)">
                <div
                    class="flex items-center justify-center w-72 h-72 lg:w-60 lg:h-60 bg-black/60 opacity-1 transition duration-300 p-3 text-xl text-white text-center poppins-500">
                    3D Printing
                </div>
            </div>
            <div class="w-72 h-72 lg:w-60 lg:h-60 bg-theme-gray m-2 bg-cover bg-no-repeat bg-center"
                style="background-image: url(./../../../../assets/images/services/compliance-documentation.png)">
                <div
                    class="flex items-center justify-center w-72 h-72 lg:w-60 lg:h-60 bg-black/60 opacity-1 transition duration-300 p-3 text-xl text-white text-center poppins-500">
                    Compliance Documentation
                </div>
            </div>
        </div>
        <div class="text-center">
            <a [routerLink]="'services'" mat-stroked-button class="flex flex-row items-center justify-center font-blue poppins-600">
                Our Services<mat-icon class="ml-3">trending_flat</mat-icon>
            </a>
        </div>
    </div>
</div>

<!-- Clients -->
<div class="flex flex-row justify-center w-full px-7 py-16 lg:py-28">
    <div class="w-full lg:w-2/3 lg:max-w-2/3">
        <div class="mb-14 text-center">
            <div class="text-5xl poppins-700 uppercase mb-5">Clients</div>
        </div>
        <div class="grid grid-cols-2 lg:grid-cols-4 gap-12 items-center">
            <img src="./../../../../assets/images/clients/dialog.png" alt="Dialog">
            <img src="./../../../../assets/images/clients/dimo.png" alt="Dimo">
            <img src="./../../../../assets/images/clients/hela.png" alt="Hela">
            <img src="./../../../../assets/images/clients/dsi.png" alt="DSI">
            <img src="./../../../../assets/images/clients/fits-retail.png" alt="Fits Retail">
            <img src="./../../../../assets/images/clients/metrix.jpeg" alt="Metrix">
            <img src="./../../../../assets/images/clients/sanaka.jpeg" alt="Sanaka Group">
            <img src="./../../../../assets/images/clients/expo.jpeg" alt="Expo">
        </div>
    </div>
</div>