<div class="w-full h-2/5 bg-cover bg-no-repeat bg-center"
    style="background-image: url(./../../../../assets/images/common-bg.jpeg)">
    <div class="relative top-0 left-0 w-full h-full bg-black/50">
        <div class="absolute w-full top-1/2 text-center">
            <div
                class="text-white uppercase font-bold text-4xl lg:text-5xl mb-6 quicksand-700 text-center tracking-wide">
                Testimonials
            </div>
        </div>
    </div>
</div>

<!-- Testimonials -->
<div class="flex flex-row justify-center w-full p-7 lg:py-20">
        <div class="w-full lg:w-2/3 lg:max-w-2/3">
                <div class="mb-14 text-center">
                        <span class="text-xl">— Don't Take Our Word for It —</span>
                </div>
                <div class="grid grid-cols-1 lg:grid-cols-3 gap-7">
                        <div class="p-6 rounded-xl poppins-400" *ngFor="let tstml of testimonials"
                                [ngClass]="tstml.colors">
                                <div>
                                        <mat-icon class="text-7xl opacity-50">format_quote</mat-icon>
                                </div>
                                <div class="mb-5">{{tstml.description}}</div>
                                <div class="poppins-600">{{tstml.name}}</div>
                                <div class="opacity-60">{{tstml.country}}</div>
                        </div>
                </div>
        </div>
</div>

<!-- Instagram Feed -->
<!-- <div class="flex flex-row justify-center w-full p-7 lg:py-28 bg-gray-100">
        <div class="w-full lg:w-2/3 lg:max-w-2/3">
                <div class="mb-14 text-center">
                        <div class="text-4xl poppins-700 uppercase mb-5">Instagram Feed</div>
                        <span class="text-xl">— See what we have done so far —</span>
                </div>
                <div id="curator-feed-default-feed-layout"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered
                                by Curator.io</a></div>
        </div>
</div> -->