<div class="w-full h-2/5 bg-cover bg-no-repeat bg-center"
    style="background-image: url(https://wallpaperaccess.com/full/1536630.jpg)">
    <div class="relative top-0 left-0 w-full h-full bg-black/50">
        <div class="absolute w-full top-1/2 text-center">
            <div class="text-white uppercase font-bold text-6xl mb-6 quicksand-700 text-center tracking-wide">
                Our Services
            </div>
        </div>
    </div>
</div>
<div class="bg-gray-100 p-16">
    <div class="flex flex-row justify-center w-full mb-5">
        <div class="w-full lg:w-3/4 lg:max-w-3/4">
            <div
                class="bg-white w-full h-full flex flex-row items-center justify-center shadow-sm rounded-2xl overflow-hidden">
                <div class="w-2/3 p-5">
                    <div class="poppins-600 text-3xl font-blue uppercase mb-4">Product Design, Prototype & Manufacture
                    </div>
                    <p class="poppins-400 text-gray-500 leading-8">
                        Product design services at C S innovations (Pvt) Ltd are designed to assist you in getting your
                        products to the market
                        faster. At CS innovations, we build robust machinery parts with the utilization of
                        state-of-the-art
                        Computer Numerical
                        Controlled (CNC) machines with high precision execution. Our modern machines not only include
                        3-axis
                        directional
                        movement, but also extend to 4 and 5-axis directions. Our team is aware that each project,
                        product,
                        and services are
                        different, and therefore, we provide several unique facilities in designing, engineering,
                        prototyping, and manufacturing
                        to suit all your requirements.
                    </p>
                </div>
                <div class="w-1/3 h-full">
                    <img src="https://wallpaperaccess.com/full/1536630.jpg" class="w-full h-full object-cover">
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-row justify-center w-full mb-5">
        <div class="w-full lg:w-3/4 lg:max-w-3/4">
            <div
                class="bg-white w-full h-full flex flex-row items-center justify-center shadow-sm rounded-2xl overflow-hidden">
                <div class="w-1/3 h-full">
                    <img src="https://wallpaperaccess.com/full/1536630.jpg" class="w-full h-full object-cover">
                </div>
                <div class="w-2/3 p-5">
                    <div class="poppins-600 text-3xl font-blue uppercase mb-4">3D Printing Solutions</div>
                    <p class="poppins-400 text-gray-500 leading-8">
                        In today’s fast-paced market, you need innovative 3D printing solutions, dependable materials
                        and
                        novel applications –
                        that is what we deliver. At CS innovations, we make your products with a wide suite of
                        manufacturing
                        technologies. Our
                        team of 3D printing and manufacturing expert consultants are dedicated to finding tailored
                        solutions
                        for our customers.
                        Whether it is a quick-turn prototype ordered online or a large project with defined
                        requirements, we
                        have the quality
                        management system, engineering experience and collaborative approach to deliver the job faster.
                        Our
                        team is also
                        exceptional in building ultramodern prototypes using our high-tech 3D printers.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-row justify-center w-full mb-5">
        <div class="w-full lg:w-3/4 lg:max-w-3/4">
            <div
                class="bg-white w-full h-full flex flex-row items-center justify-center shadow-sm rounded-2xl overflow-hidden">
                <div class="w-2/3 p-5">
                    <div class="poppins-600 text-3xl font-blue uppercase mb-4">3D Modeling & Drawing
                    </div>
                    <p class="poppins-400 text-gray-500 leading-8">
                        We have Computer-Aided Design & Computer-Aided Manufacturing facilities which enable us to
                        facilitate customized
                        engineering products and solutions for a broad range of applications and industries. Our design
                        engineers ensure your
                        products are designed accurately and fit for production giving you the time and cost benefit.
                    </p>
                </div>
                <div class="w-1/3 h-full">
                    <img src="https://wallpaperaccess.com/full/1536630.jpg" class="w-full h-full object-cover">
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-row justify-center w-full mb-5">
        <div class="w-full lg:w-3/4 lg:max-w-3/4">
            <div
                class="bg-white w-full h-full flex flex-row items-center justify-center shadow-sm rounded-2xl overflow-hidden">
                <div class="w-1/3 h-full">
                    <img src="https://wallpaperaccess.com/full/1536630.jpg" class="w-full h-full object-cover">
                </div>
                <div class="w-2/3 p-5">
                    <div class="poppins-600 text-3xl font-blue uppercase mb-4">Existing Product Modification</div>
                    <p class="poppins-400 text-gray-500 leading-8">
                        Understanding the environment of product utilization is critical in the design process of the
                        product. It is the process
                        of gathering all of the many product requirements, client insights and taking into account the
                        commercial manufacturing
                        feasibility. Our company is skilled in modifying and developing existing products into an
                        enhanced one. We work on
                        adding the highest possible value into fabricating and production machinery, in terms of
                        functionality, aesthetics,
                        ergonomics, and sustainability.
                    </p>
                    <p class="poppins-400 text-gray-500 leading-8">
                        As your trusted expert partner, we integrate value process strategies across the entire value
                        chain, optimizing your
                        product’s design, from functionality to assembly, controlling costs and enhancing value for
                        development, production and
                        supply chains.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-row justify-center w-full mb-5">
        <div class="w-full lg:w-3/4 lg:max-w-3/4">
            <div
                class="bg-white w-full h-full flex flex-row items-center justify-center shadow-sm rounded-2xl overflow-hidden">
                <div class="w-2/3 p-5">
                    <div class="poppins-600 text-3xl font-blue uppercase mb-4">CNC Machine & Machine Fabrication
                    </div>
                    <p class="poppins-400 text-gray-500 leading-8">
                        CS innovations is capable of delivering relatively simple to complex machined parts from our
                        fully equipped workshop.
                        Our machining capabilities include brazing, soldering, anodizing, heat treating, threading,
                        assembly, and a lot more.
                        Complex machinery parts are manufactured using the latest Computer Numerical Controlled (CNC)
                        mills using 3, 4 and 5
                        axis Our 5 axis CNC milling machine is capable of handing complex machine parts in one single
                        setup giving our customers
                        products with high precision and quality faster.
                    </p>
                </div>
                <div class="w-1/3 h-full">
                    <img src="https://wallpaperaccess.com/full/1536630.jpg" class="w-full h-full object-cover">
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-row justify-center w-full mb-5">
        <div class="w-full lg:w-3/4 lg:max-w-3/4">
            <div
                class="bg-white w-full h-full flex flex-row items-center justify-center shadow-sm rounded-2xl overflow-hidden">
                <div class="w-1/3 h-full">
                    <img src="https://wallpaperaccess.com/full/1536630.jpg" class="w-full h-full object-cover">
                </div>
                <div class="w-2/3 p-5">
                    <div class="poppins-600 text-3xl font-blue uppercase mb-4">Plastic Injection Moduling</div>
                    <p class="poppins-400 text-gray-500 leading-8">
                        We offer affordable injection moulding solutions and injection moulded parts. We do the tooling
                        and the products to
                        match your product requirements and business expansion plans.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-row justify-center w-full mb-5">
        <div class="w-full lg:w-3/4 lg:max-w-3/4">
            <div
                class="bg-white w-full h-full flex flex-row items-center justify-center shadow-sm rounded-2xl overflow-hidden">
                <div class="w-2/3 p-5">
                    <div class="poppins-600 text-3xl font-blue uppercase mb-4">Electrical System Design & PCB Printing
                    </div>
                    <p class="poppins-400 text-gray-500 leading-8">
                        CS innovations offer a wide range of electrical engineering, design, and consulting services.
                        Contact CS Innovations for
                        all PCB solutions including prototype and assembly.
                    </p>
                </div>
                <div class="w-1/3 h-full">
                    <img src="https://wallpaperaccess.com/full/1536630.jpg" class="w-full h-full object-cover">
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-row justify-center w-full mb-5">
        <div class="w-full lg:w-3/4 lg:max-w-3/4">
            <div
                class="bg-white w-full h-full flex flex-row items-center justify-center shadow-sm rounded-2xl overflow-hidden">
                <div class="w-1/3 h-full">
                    <img src="https://wallpaperaccess.com/full/1536630.jpg" class="w-full h-full object-cover">
                </div>
                <div class="w-2/3 p-5">
                    <div class="poppins-600 text-3xl font-blue uppercase mb-4">Compliance Documentation</div>
                    <p class="poppins-400 text-gray-500 leading-8">
                        CS innovations ensure your products comply with the highest industrial and quality standards for
                        your applications by
                        providing with necessary processes and documentation to satisfy global auditing standards.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-row justify-center w-full">
        <div class="w-full lg:w-3/4 lg:max-w-3/4">
            <div
                class="bg-white w-full h-full flex flex-row items-center justify-center shadow-sm rounded-2xl overflow-hidden">
                <div class="w-2/3 p-5">
                    <div class="poppins-600 text-3xl font-blue uppercase mb-4">Sustainable Packaging
                    </div>
                    <p class="poppins-400 text-gray-500 leading-8">
                        We help you achieve sustainable packaging solutions for your products. Our manufacturing
                        facility is capable of
                        providing you with packaging solutions for any industry. Currently, we provide packaging
                        solutions for the food and
                        beverage, cosmetic, and fragrance industries.
                    </p>
                </div>
                <div class="w-1/3 h-full">
                    <img src="https://wallpaperaccess.com/full/1536630.jpg" class="w-full h-full object-cover">
                </div>
            </div>
        </div>
    </div>
</div>