<div class="w-full h-2/5 bg-cover bg-no-repeat bg-center"
    style="background-image: url(../../../../assets/images/header-bg.jpeg)">
    <div class="relative top-0 left-0 w-full h-full bg-black/50">
        <div class="absolute w-full top-1/2 text-center">
            <div
                class="text-white uppercase font-bold text-4xl lg:text-5xl mb-6 quicksand-700 text-center tracking-wide">
                Our Brands
            </div>
        </div>
    </div>
</div>
<div class="flex flex-row justify-center">
    <div class="p-7 lg:py-20 w-full lg:w-2/3 lg:max-w-2/3">
        <div class="flex flex-row items-center justify-center space-x-20 mb-14">
            <div (click)="swapProduct(false)" class="border-2 rounded-2xl px-8 py-4"
                [ngClass]="{'active-product bg-lighter-blue' : isHaifi, 'cursor-pointer hover:bg-gray-100' : !isHaifi}">
                <div class="flex justify-center">
                    <img src="../../../../assets/images/logo/haifi-tp.png" class="w-64">
                </div>
                <div class="text-2xl poppins-700 text-green-600 pb-2 text-center">Imagine Sustainability</div>
            </div>
            <div (click)="swapProduct(true)" class="border-2 rounded-2xl px-8 py-4"
                [ngClass]="{'active-product bg-lighter-blue' : !isHaifi, 'cursor-pointer hover:bg-gray-100' : isHaifi}">
                <div class="flex justify-center">
                    <img src="../../../../assets/images/logo/image-not-available-tp.png" class="w-60">
                </div>
                <div class="text-2xl poppins-700 text-green-600 pb-2 text-center">Mizu</div>
            </div>
        </div>
        <ng-container *ngIf="isHaifi; else mizu">
            <div>
                <div class="mb-5">
                    <h2>ARE YOU LOOKING FOR A SUSTAINABLE PACKAGING SOLUTION?</h2>
                    <p class="poppins-400">
                        Our mycelium packaging solution, <span class="poppins-700">HAIFI</span> is the answer that you have been looking for as it is proven to be the ultimate green material for the future. 
                    </p>
                </div>
                <div class="mb-5">
                    <h2>WHAT IS MYCELIUM PACKAGING?</h2>
                    <p class="flex poppins-400">
                        Mycelium packaging is a 100% BIODEGRADABLE, high-performing packaging solution bioengineered using root-like structures of fungi named mycelium as binding agents and agricultural waste.  
                    </p>
                </div>
                <div>
                    <h2>WHY GO WITH THIS OPTION?</h2>
                    <ul class="poppins-400">
                        <li><i class="fa-regular fa-circle-check text-green-500 mr-2"></i>100% natural and non-toxic</li>
                        <li><i class="fa-regular fa-circle-check text-green-500 mr-2"></i>High shock resistance</li>
                        <li><i class="fa-regular fa-circle-check text-green-500 mr-2"></i>Mouldable into an endless variety of custom shapes</li>
                        <li><i class="fa-regular fa-circle-check text-green-500 mr-2"></i>Lightweight</li>
                    </ul>
                </div>
            </div>
        </ng-container>
    </div>
</div>
<div class="flex justify-center bg-gray-100 p-20">
    <div class="w-2/3">
        <h2 class="text-center mb-5">PROCESS WE FOLLOW</h2>
        <div class="block lg:flex justify-between poppins-400">
            <div class="bg-white shadow-md rounded-xl w-full lg:w-1/2 lg:mr-8 overflow-hidden">
                <div class="poppins-700 text-lg text-white bg-theme-blue px-4 py-3">Design Stage</div>
                <div class="p-4">
                    <p>
                        <span class="poppins-700">STEP 1 - </span>We make a design to suit your requirement
                    </p>
                    <p>
                        <span class="poppins-700">STEP 2 - </span>We will finalize the design and illustrate a rendered 3D model along with the technical drawings
                    </p>
                    <p>
                        <span class="poppins-700">STEP 3 - </span>We 3D print a mould using BIODEGRADABLE filaments
                    </p>
                    <p>
                        <span class="poppins-700">STEP 4 - </span>We deliver the prototype made with mycelium
                    </p>
                </div>
            </div>
            <div class="bg-white shadow-md rounded-xl w-full lg:w-1/2 overflow-hidden">
                <div class="poppins-700 text-lg text-white bg-theme-blue px-4 py-3">Production Stage</div>
                <div class="p-4">
                    <p>
                        <span class="poppins-700">STEP 1 - </span>Provide a quotation considering the complexity / dimensions of the package
                    </p>
                    <p>
                        <span class="poppins-700">STEP 2 - </span>Manufacture the mould depending on the requirement
                    </p>
                    <p>
                        <span class="poppins-700">STEP 3 - </span>We grow your sustainable packaging
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #mizu>
    <div>
        Product details will be updated soon...
    </div>
</ng-template>