<div class="w-full h-2/5 bg-cover bg-no-repeat bg-center"
    style="background-image: url(./../../../../assets/images/common-bg.jpeg)">
    <div class="relative top-0 left-0 w-full h-full bg-black/50">
        <div class="absolute w-full top-1/2 text-center">
            <div class="text-white uppercase font-bold text-4xl lg:text-5xl quicksand-700 text-center tracking-wide">
                About
            </div>
        </div>
    </div>
</div>
<div class="bg-gray-100 px-4 py-16 lg:p-16">
    <div class="flex flex-row justify-center w-full mb-5">
        <div class="w-full lg:w-2/3 lg:max-w-2/3 overflow-hidden rounded-2xl">
            <div class="w-full h-full overflow-hidden bg-top bg-no-repeat bg-cover"
                style="background-image: url(https://static.wixstatic.com/media/a9f876_1ecb6775d25a48618a1134d056bcd200~mv2.jpg/v1/fill/w_1903,h_400,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/a9f876_1ecb6775d25a48618a1134d056bcd200~mv2.jpg);">
                <div class="p-5 rounded-2xl bg-blue-600/75">
                    <div class="poppins-600 text-3xl text-white uppercase mb-4">Mission</div>
                    <p class="poppins-400 text-gray-200 leading-8">
                        To develop and deliver reliable, client-centric Product, Machinery Designing and Manufacturing
                        Solutions, accompanied by
                        exceptional service, providing valuable support to our global clientele.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-row justify-center w-full mb-5">
        <div class="w-full lg:w-2/3 lg:max-w-2/3 overflow-hidden rounded-2xl shadow-sm">
            <div class="w-full h-full overflow-hidden">
                <div class="p-5 bg-white">
                    <div class="poppins-600 text-3xl uppercase mb-4">Vision</div>
                    <p class="poppins-500 text-gray-500 leading-8">"As you grow....we grow with you."</p>
                    <p class="poppins-400 text-gray-500 leading-8">
                        To provide innovative Product Design, Machinery and Manufacturing Solutions that enable our
                        clientele across the world
                        to turn their ideas into reality.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-row justify-center w-full mb-5">
        <div class="w-full lg:w-2/3 lg:max-w-2/3 overflow-hidden rounded-2xl">
            <div class="w-full h-full overflow-hidden bg-top bg-no-repeat bg-cover"
                style="background-image: url(https://static.wixstatic.com/media/11062b_a1af871ff33e4eeb8c3d11364c9c9511~mv2.jpg/v1/fill/w_1903,h_483,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_a1af871ff33e4eeb8c3d11364c9c9511~mv2.jpg);">
                <div class="p-5 rounded-2xl bg-blue-600/75">
                    <div class="poppins-600 text-3xl text-white uppercase mb-4">Scope</div>
                    <p class="poppins-400 text-gray-200 leading-8">
                        C S Innovations offers a variety of services beginning from the initial design stage throughout
                        the entire manufacturing
                        process. We combine the concepts of our customers with our expert knowledge in the industry to
                        create highly functional
                        custom products and machinery. Our scope includes but is not limited to: Research,
                        Conceptualization, Analysis, Design,
                        Product Architecture, and Implementation.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-row justify-center w-full mb-5">
        <div class="w-full lg:w-2/3 lg:max-w-2/3 overflow-hidden rounded-2xl shadow-sm">
            <div class="w-full h-full overflow-hidden">
                <div class="p-5 bg-white">
                    <div class="poppins-600 text-3xl uppercase mb-4">Our Clients</div>
                    <p class="poppins-400 text-gray-500 leading-8">
                        We consider client requirements as the most significant factor throughout each and every
                        manufacturing project. No
                        matter your business requirements, our goal is to establish a robust evolving partnership, with
                        a pledge towards
                        uninterrupted modernization and advancement. Through technology, our goal is to elevate and
                        transform the client's
                        involement in the entire development and production process. C S Innovations takes on all the
                        responsibilities of
                        providing a flawless product fabricating process delivered straight to the clients’ doorstep.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-row justify-center w-full">
        <div class="w-full lg:w-2/3 lg:max-w-2/3 overflow-hidden rounded-2xl">
            <div class="w-full h-full overflow-hidden bg-top bg-no-repeat bg-cover"
                style="background-image: url(https://static.wixstatic.com/media/11062b_722d72cab3064780af871ae129c4941a~mv2_d_4246_2450_s_4_2.jpg/v1/fill/w_1903,h_520,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_722d72cab3064780af871ae129c4941a~mv2_d_4246_2450_s_4_2.jpg);">
                <div class="p-5 rounded-2xl bg-blue-600/75">
                    <div class="poppins-600 text-3xl text-white uppercase mb-4">Our Team</div>
                    <p class="poppins-400 text-gray-200 leading-8">
                        We pride ourselves in offering highly specialized services with a rapid, well-organized crew.
                        The collective talents of
                        the team at C S Innovations, with their years of proficiency in product design and
                        manufacturing, are guaranteed to
                        impress. Each team member is committed to recognizing every client growth opportunities by
                        providing exceptional
                        one-on-one collaboration services.
                    </p>
                    <p class="poppins-400 text-gray-200 leading-8">
                        Consider our team as an extension of your own R&D team providing end-to-end solutions that are
                        modern and innovative,
                        while providing you a competitive advantage in the business marketplace. We will be there for
                        you, through research,
                        design, development and followup maintenance of all your project requirements.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>